<form action="/admin/Category/editCategory" method="post">
	<div class="form-group">
		<label for="uname">Id:</label> <input type="text"
			class="form-control col-md-12" readonly="readonly" name="id"
			th:value="${cate.getId()}">
	</div>
	<div class="form-group">
		<label for="pwd">Tên thể loại:</label> <input type="text"
			class="form-control col-md-12" required name="name"
			th:value="${cate.getName()}">
	</div>
	<label for="sel1">Trạng thái:</label> <select
		class="form-control col-md-4" name="is_active">
		<option
			th:attrappend="selected=${cate.getIs_active() == '1'}?selected"
			value="1">Active</option>
		<option
			th:attrappend="selected=${cate.getIs_active() == '0'}?selected"
			value="0">Disable</option>
	</select>
	<div style="justify-content: flex-end; display: flex;">
		<button type="submit" class="btn btn-primary">Hoàn tất</button>
	</div>
</form>