
<html>
<head>
<title>Trang quản trị User</title>
<LINK REL="SHORTCUT ICON" HREF="20 - PNG fashion copy.jpg">
</head>
<body class="toggled sw-toggled">

	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css-admin/app.min.1.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css-admin/app.min.2.css}" />

	<!-- Custom -->
	<link rel="stylesheet" type="text/css" th:href="@{/css-admin/style.css}" />

	<header id="header" class="clearfix" data-current-skin="blue">
		<ul class="header-inner">
			<li id="menu-trigger" data-trigger="#sidebar">
				<div class="line-wrap">
					<div class="line top"></div>
					<div class="line center"></div>
					<div class="line bottom"></div>
				</div>
			</li>


			<li class="logo hidden-xs"><a href="#" id="store-name-id">TRANG
					QUẢN LÝ</a></li>
		</ul>
	</header>

	<section id="main" data-layout="layout-1">
		<div th:include="~{/sidebar.html :: sidebar}"></div>
		<section id="content">
			<div class="container">
				<div class="card-padding">
					<div class="card-header">
						<div class="row">
							<div class="col-md-8">
								<h3></h3>
							</div>
							<text>
							<div class="col-md-4 text-right">
								<a href="add_new_admin.jsp?addNew=true"
									class="btn btn-primary btn-icon-text waves-effect"> Thêm
									Phim </a>
							</div>
							</text>
						</div>
						<hr>
					</div>
					<div id="UserDatatable_wrapper"
						class="dataTables_wrapper no-footer">

						<p>
						<div>

							<form action="admin">
								<input type="text" name="value" value="" /> <input
									type="submit" value="Tìm kiếm" /> <input type="hidden"
									name="role" value="">
							</form>
						</div>
						</p>


						<div class="tableDiv-responsive">
							<div>
								<table
									class="table table-striped table-bordered table-hover table-condensed dataTable no-footer">
									<thead>
										<tr role="row">

											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">Id
													</label></th>
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">name</label></th>
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">describe</label></th>
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">duration</label></th>
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">status</label></th>
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">image</label>
											</th> 
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">IMDB</label>
											</th> 
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">date</label>
											</th> 
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">resolution</label>
											</th> 
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">info</label>
											</th> 
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">name2</label>
											</th> 
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">Edit</label>
											</th> 
											<th class="sorting_disabled text-center mid-v-align"
												rowspan="1" colspan="1"><label class="">Delete</label>
											</th> 
										</tr>
									</thead>
									<tbody>
										<c:forEach var="result" items="${allUser}" varStatus="counter">

											<tr role="row" class="odd">


												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class=" text-center mid-v-align">s</td>
												<td class="text-center mid-v-align">
													<button class="btn btn-outline-primary">edit</button>
													</td>
												<td class="text-center mid-v-align">
													<button class="btn btn-outline-primary">delete</button>
													</td>
											</tr>
										</c:forEach>


									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<script>
		var count = 1;
		function checkAllFunction() {
			var checkBoxList = document.getElementsByClassName("checkChild");
			if (count % 2 == 1) {
				for (var i = 0; i < checkBoxList.length; i++) {
					checkBoxList[i].checked = "checked";
				}
				count++;
			} else {
				for (var i = 0; i < checkBoxList.length; i++) {
					checkBoxList[i].checked = "";
				}
				count++;
			}
		};
	</script>
</body>
</html>
