<div th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav col-md-9" id="top">
				<li class="nav-item active"><a class="nav-link" href="/">TRANG CHỦ</a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> THỂ LOẠI </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/sort?cate=phim-bi-an-sieu-nhien">Phim Bí ẩn-Siêu nhiên</a>
			<a class="dropdown-item" href="/sort?cate=phim-bo">Phim bộ</a>
			<a class="dropdown-item" href="/sort?cate=phim-chien-tranh">Phim chiến tranh</a>
			<a class="dropdown-item" href="/sort?cate=phim-chieu-rap">Phim chiếu rạp</a>
			<a class="dropdown-item" href="/sort?cate=phim-chinh-kich-drama">Phim chính kịch - Drama</a>
			<a class="dropdown-item" href="/sort?cate=phim-co-trang">Phim cổ trang</a>
			<a class="dropdown-item" href="/sort?cate=phim-gia-dinh">Phim gia đình</a>
			<a class="dropdown-item" href="/sort?cate=phim-hai-huoc">Phim hài hước</a>
			<a class="dropdown-item" href="/sort?cate=phim-hanh-dong">Phim hành động</a>
			<a class="dropdown-item" href="/sort?cate=phim-hinh-su">Phim hình sự</a>
			<a class="dropdown-item" href="/sort?cate=phim-hoat-hinh">Phim hoạt hình</a>
			<a class="dropdown-item" href="/sort?cate=phim-hoi-hop-gay-can">Phim hồi hộp-Gây cấn</a>
			<a class="dropdown-item" href="/sort?cate=phim-kinh-di">Phim kinh dị</a>
			<a class="dropdown-item" href="/sort?cate=phim-le">Phim lẻ</a>
			<a class="dropdown-item" href="/sort?cate=phim-phieu-luu">Phim phiêu lưu</a>
			<a class="dropdown-item" href="/sort?cate=phim-tai-lieu">Phim tài liệu</a>
			<a class="dropdown-item" href="/sort?cate=phim-tam-ly">Phim tâm lý</a>
			<a class="dropdown-item" href="/sort?cate=phim-than-thoai">Phim thần thoại</a>
			<a class="dropdown-item" href="/sort?cate=phim-the-thao-am-nhac">Phim Thể thao-Âm nhạc</a>
			<a class="dropdown-item" href="/sort?cate=phim-thuyet-minh">Phim thuyết minh</a>
			<a class="dropdown-item" href="/sort?cate=phim-tinh-cam-lang-man">Phim tình cảm-Lãng mạn</a>
			<a class="dropdown-item" href="/sort?cate=phim-vien-tuong">Phim viễn tưởng</a>
			<a class="dropdown-item" href="/sort?cate=phim-vo-thuat">Phim võ thuật</a>
					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> QUỐC GIA </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/sort?country=VN">VIỆT NAM</a><a
							class="dropdown-item" href="/sort?country=US">MỸ</a><a							class="dropdown-item" href="/sort?country=JP">NHẬT BẢN</a><a							class="dropdown-item" href="/sort?country=IN">ẤN ĐỘ</a><a							class="dropdown-item" href="/sort?country=FR">Pháp</a><a							class="dropdown-item" href="/sort?country=CA">CANADA</a><a
							class="dropdown-item" href="/sort?country=CN">TRUNG QUỐC</a><a
							class="dropdown-item" href="/sort?country=HK">HONG KONG</a><a
							class="dropdown-item" href="/sort?country=TW">ĐÀI LOAN</a><a
							class="dropdown-item" href="/sort?country=AU">ÚC</a><a
							class="dropdown-item" href="/sort?country=KR">HÀN QUỐC</a><a							class="dropdown-item" href="/sort?country=TH">THÁI LAN </a><a
							class="dropdown-item" href="/sort?country=UK">ANH</a>

					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> PHIM LẺ</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/sort?id=phim-le&year=2019">NĂM
							2019</a> <a class="dropdown-item" href="/sort?id=phim-le&year=2018">NĂM
							2018</a> <a class="dropdown-item" href="/sort?id=phim-le&year=2017">NĂM
							2017</a> <a class="dropdown-item" href="/sort?id=phim-le&year=2016">NĂM
							2016</a> <a class="dropdown-item" href="/sort?id=phim-le&year=2015">NĂM
							2015</a> <a class="dropdown-item" href="/sort?id=phim-le&year=2014">NĂM
							2014</a> <a class="dropdown-item" href="/sort?id=phim-le&year=2013">NĂM
							2013</a>

					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> PHIM BỘ</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/sort?cate=phim-bo&country=KR">HÀN QUỐC</a> <a class="dropdown-item" href="/sort?cate=phim-bo&country=HK">HONG
							KONG</a> <a class="dropdown-item" href="/sort?cate=phim-bo&country=CN">TRUNG
							QUỐC</a> <a class="dropdown-item" href="/sort?cate=phim-bo&country=TW">ĐÀI LOAN</a> <a class="dropdown-item" href="/sort?cate=phim-bo&country=TH">THÁI LAN</a> <a class="dropdown-item" href="/sort?cate=phim-bo&country=US">MỸ</a>
					</div></li>

				<div class="nav-item">
					<a class="nav-link" href="/sort?id=phim-thuyet-minh" role="button"
						aria-haspopup="true" aria-expanded="false"> PHIM THUYẾT MINH</a>
				</div>

				<div class="nav-item">
					<a class="nav-link" href="/sort?id=phim-chieu-rap" role="button"
						aria-haspopup="true" aria-expanded="false"> PHIM CHIẾU RẠP</a>
				</div>

			</ul>
			<form class="form-inline my-2 my-lg-0" method="GET" action="sort">
				<input class="form-control mr-sm-2" type="search" placeholder="TÌM KIẾM" aria-label="Search" name="search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">TÌM KIẾM</button>
			</form>
		</div>
	</nav>
</div>