<div th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav col-md-9" id="top">
				<li class="nav-item active"><a class="nav-link" href="/">TRANG
						CHỦ </a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> THỂ LOẠI </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">PHIM HÀNH ĐỘNG</a> <a
							class="dropdown-item" href="#">PHIM HÀI HƯỚC</a> <a
							class="dropdown-item" href="#">PHIM GIA ĐÌNH</a>
					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> QUỐC GIA	 </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">VIỆT NAM/a> <a
							class="dropdown-item" href="#">NHẬT</a> <a
							class="dropdown-item" href="#">TRUNG</a>
					</div></li>
					
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> PHIM LẺ</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">VIỆT NAM/a> <a
							class="dropdown-item" href="#">NHẬT</a> <a
							class="dropdown-item" href="#">TRUNG</a>
					</div></li>
					
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> PHIM BỘ</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">VIỆT NAM/a> <a
							class="dropdown-item" href="#">NHẬT</a> <a
							class="dropdown-item" href="#">TRUNG</a>
					</div></li>
					
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> PHIM THUYẾT MINH</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">VIỆT NAM/a> <a
							class="dropdown-item" href="#">NHẬT</a> <a
							class="dropdown-item" href="#">TRUNG</a>
					</div></li>
					
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> PHIM CHIẾU RẠP</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">VIỆT NAM/a> <a
							class="dropdown-item" href="#">NHẬT</a> <a
							class="dropdown-item" href="#">TRUNG</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</div>