<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FILM</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>	
<div th:include ="~{/header.html :: header}"></div>
<br>

<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">KungFu Panda</a>
			</div> 
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">Toy Story 2</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">Wall-E</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">KungFu Panda</a>
			</div> 
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>
			</a>
		</li>
	</ul>
</div>
<br>

<div>
	<div>
		<div class="float-left">
			<h2>PHIM MỚI CẬP NHẬT</h2>
		</div>
		<div class="float-right">
			<a href="show">xem thêm</a>
		</div>

	</div>

	<div class="row col-md-12">

		<div class="col-md-3 text-center">
			<a href="facebook.com" style="width: 100% !important;"> <img
				class="img-thumbnail" width="200px" height="260px"
				src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
				<div class="movie-meta">
					<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
					<span class="movie-title-chap">131 phút </span>
					<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
				</div>
			</a>
		</div>

		<div class="col-md-3 text-center">
			<a href="facebook.com" style="width: 100% !important;"> <img
				class="img-thumbnail" width="200px" height="260px"
				src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
				<div class="movie-meta">
					<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
					<span class="movie-title-chap">131 phút </span>
					<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
				</div>
			</a>
		</div>

		<div class="col-md-3 text-center">
			<a href="facebook.com" style="width: 100% !important;"> <img
				class="img-thumbnail" width="200px" height="260px"
				src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
				<div class="movie-meta">
					<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
					<span class="movie-title-chap">131 phút </span>
					<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
				</div>
			</a>
		</div>
		<div class="col-md-3 text-center">
			<a href="facebook.com" style="width: 100% !important;"> <img
				class="img-thumbnail" width="200px" height="260px"
				src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
				<div class="movie-meta">
					<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
					<span class="movie-title-chap">131 phút </span>
					<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
				</div>
			</a>
		</div>
	</div>
</div>
<br>
<div>
	<div>
		<div class="float-left">
			<h2>PHIM CHIẾU RẠP</h2>
		</div>
		<div class="float-right">
			<a href="facebook.com">xem thêm</a>
		</div>

	</div>

	<div class="row col-md-12">

		<div class="col-md-3 text-center">
			<a href="facebook.com" style="width: 100% !important;"> <img
				class="img-thumbnail" width="200px" height="260px"
				src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
				<div class="movie-meta">
					<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
					<span class="movie-title-chap">131 phút </span>
					<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
				</div>
			</a>
		</div>

		<div class="col-md-3 text-center">
			<a href="facebook.com" style="width: 100% !important;"> <img
				class="img-thumbnail" width="200px" height="260px"
				src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
				<div class="movie-meta">
					<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
					<span class="movie-title-chap">131 phút </span>
					<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
				</div>
			</a>
		</div>

		<div class="col-md-3 text-center">
			<a href="facebook.com" style="width: 100% !important;"> <img
				class="img-thumbnail" width="200px" height="260px"
				src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
				<div class="movie-meta">
					<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
					<span class="movie-title-chap">131 phút </span>
					<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
				</div>
			</a>
		</div>
		<div class="col-md-3 text-center">
			<a href="facebook.com" style="width: 100% !important;"> <img
				class="img-thumbnail" width="200px" height="260px"
				src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
				<div class="movie-meta">
					<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
					<span class="movie-title-chap">131 phút </span>
					<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
				</div>
			</a>
		</div>
	</div>
</div>
<div th:include ="~{/footer.html :: footer}"></div>
</body>

</html>