<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FILM</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: gray;">
	<div th:include="~{/header.html :: header}"></div>
	<br>

	<div class="accordian">
		<ul>
			<li th:each="film,i: ${film}" th:if="${i.index}<6">
				<div class="image_title container" style="margin: 10px">
					<a class="row" th:href="'detail?id='+${film.getId()}" th:text="${film.getName() + ' - ' + film.getName2()}" style="font-size: 25px; margin: 5px"></a>
					<p class="row" th:text="${film.getDescribe().substring(0,100) + '...'}" style="margin: 5px; color: white"></p>
				</div> <a th:href="'detail?id='+${film.getId()}">
					<img th:src="${#strings.replace(film.getImage(),'poster','preview')}" />
			</a>
			</li>
		</ul>
	</div>
	<br>
	
	<div class="container">

		<div class="col-md-12">
			<div class="float-left">
				<h2>PHIM MỚI CẬP NHẬT</h2>
			</div>
			<div class="float-right btn btn-outline-primary" style="background-color: #007bff">
				<a style="color: white;" href="show?page=1">Xem thêm</a>
			</div>

		</div>
		<div class="row col-md-10" style="margin-left: 80px">
			
			<div class="col-md-3 text-center" th:each="film,i: ${film}" th:if="${i.index}<16">
				<a th:href="'detail?id='+${film.getId()}" style="width: 100% !important; text-decoration: none!important;"> <img
					class="img-thumbnail" width="200px" style="height:260px !important;"
					th:src="${film.getImage()}">
					<div class="movie-meta">
						<div class="movie-title-1" th:text="${film.getName() + ' - ' + film.getName2()}"></div>
						<span class="movie-title-chap" style="color: white;" th:text="${film.getDuration() + ' phút'}"></span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>

		</div>
		
	</div>
	<br>
	
	
	
	<br>
	<div th:include="~{/footer.html :: footer}"></div>
</body>

</html>