<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản Lý</title>
    <link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css-admin/app.min.1.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css-admin/app.min.2.css}" />

	<!-- Custom -->
	<link rel="stylesheet" type="text/css" th:href="@{/css-admin/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css-admin/loginpage.css}" />
</head>
<body>
    <div class="logo-container">

    </div>

    <div class="login-panel">
        <form action="login" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="J7Y3lySQmOoZutINDBHouSybfvv7uYliiZL-0Ov0XIpdmfXnPc81J6jI5NZy_soVKOVGg3FumLCKFyOdKJfGJoktl_p8NqpQwvSFJT7dFEg1">

            <fieldset>
                <div class="input-box">
                    <input class="login-input" data-val="true" data-val-required="The Username field is required." id="username" name="username" placeholder="" required="required" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                </div>
                <div class="input-box">
                    <input class="login-input" data-val="true" data-val-required="The Password field is required." id="password" name="password" placeholder="" required="required" type="password" value="">
                    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
                <div class="input-box">
                    <input type="submit" value="Đăng Nhập" class="login-btn">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="bottom-bg"></div>



    
</body>
</html>