<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FILM</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


	<div th:include="~{/header.html :: header}"></div>
	<br>
	<div>
		<div>
			<div class="float-left">
				<h2>PHIM CHIẾU RẠP</h2>
			</div>
		</div>
		<div class="row col-md-12">

			<div class="col-md-3 text-center">
				<a href="/detail" style="width: 100% !important;"> <img
					class="img-thumbnail" width="200px" height="260px"
					src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
					<div class="movie-meta">
						<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
						<span class="movie-title-chap">131 phút </span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>

			<div class="col-md-3 text-center">
				<a href="facebook.com" style="width: 100% !important;"> <img
					class="img-thumbnail" width="200px" height="260px"
					src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
					<div class="movie-meta">
						<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
						<span class="movie-title-chap">131 phút </span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>

			<div class="col-md-3 text-center">
				<a href="facebook.com" style="width: 100% !important;"> <img
					class="img-thumbnail" width="200px" height="260px"
					src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
					<div class="movie-meta">
						<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
						<span class="movie-title-chap">131 phút </span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a href="facebook.com" style="width: 100% !important;"> <img
					class="img-thumbnail" width="200px" height="260px"
					src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
					<div class="movie-meta">
						<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
						<span class="movie-title-chap">131 phút </span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a href="facebook.com" style="width: 100% !important;"> <img
					class="img-thumbnail" width="200px" height="260px"
					src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
					<div class="movie-meta">
						<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
						<span class="movie-title-chap">131 phút </span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a href="facebook.com" style="width: 100% !important;"> <img
					class="img-thumbnail" width="200px" height="260px"
					src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
					<div class="movie-meta">
						<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
						<span class="movie-title-chap">131 phút </span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a href="facebook.com" style="width: 100% !important;"> <img
					class="img-thumbnail" width="200px" height="260px"
					src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
					<div class="movie-meta">
						<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
						<span class="movie-title-chap">131 phút </span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center">
				<a href="facebook.com" style="width: 100% !important;"> <img
					class="img-thumbnail" width="200px" height="260px"
					src="http://image.phimmoi.net/film/7138/poster.thumb.jpg">
					<div class="movie-meta">
						<div class="movie-title-1">Chúa Tể Godzilla: Đế Vương Bất Tử</div>
						<span class="movie-title-chap">131 phút </span>
						<!-- <span class="ribbon">HD-Vietsub+Thuyết minh</span> -->
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<nav aria-label="...">
			<ul class="pagination pagination-lg">
				<li class="page-item disabled"><a class="page-link" href="#"
					tabindex="-1">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
			</ul>
		</nav>
	</div>
	<div th:include ="~{/footer.html :: footer}"></div>
</body>
</html>