
<div th:fragment="sidebar">
	<a href="#xxx" class="row menu-bottom-node">
		<div class="centering menu-node-inside">Quản lý FILM</div>
	</a> <a href="/category_manager" class="row menu-bottom-node  menu-bottom-node-selected">
		<div class="centering menu-node-inside">Quản lý thể loại</div>
	</a> <a href="#xxx" class="row menu-bottom-node">
		<div class="centering menu-node-inside">Quản lý Diển viên</div>
	</a> <a href="#xxx" class="row menu-bottom-node">
		<div class="centering menu-node-inside">Quản lý Quốc gia</div>
	</a>
</div>

