<div th:fragment="headbar">
	<div class="row">
		<div class="col-md-12 head-bar-div">
			<div class="row" style="height: 100%">
				<div class="col-md-10"></div>
				<div class="col-md-2 right-head-bar">
					<div class="row" style="height: 100%">
						<div class="col-md-9 head-user-name">
							<p>Dương Mẫn Đạt</p>
						</div>
						<div class="col-md-3" style="height: 100%">
							<div class="fa fa-bars head-menu-bar centering"></div>
						</div>
					</div>
					<a href="#" style="text-decoration: none;">
						<div class="row menu-node">
							<div class="col-md-12 centering menu-list">Quản lý tài khoản</div>
						</div>
					</a> <a href="#" style="text-decoration: none;">
						<div class="row menu-node">
							<div class="col-md-12 centering menu-list">Đăng xuất</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>
</div>

<div th:fragment="sidebar">
	<a href="/admin" class="row menu-bottom-node">
		<div class="centering menu-node-inside">Quản lý FILM</div>
	</a> <a href="/admin/Category/load"
		class="row menu-bottom-node  menu-bottom-node">
		<div class="centering menu-node-inside">Quản lý thể loại</div>
	</a> <a href="/actor_manager" class="row menu-bottom-node">
		<div class="centering menu-node-inside">Quản lý Diễn viên</div>
	</a> <a href="#xxx" class="row menu-bottom-node">
		<div class="centering menu-node-inside">Quản lý Quốc gia</div>
	</a>
</div>

