 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${'Xem phim: ' + film.getName() }">Insert title here</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/scrollBar.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=388345122033999&autoLogAppEvents=1"></script>

</head>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .avatar-movie{
  width: 130px;
    height: 180px;
  }
  </style>
</head>
<body style="background-color: grey; color: black;">

<div th:include ="~{/header.html :: header}"></div>

<div class="container" id="main">
  <div class="row">
    <div class="col-xl-8">
      <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
      <img th:src="${film.getImage()}" class="avatar-movie" style="margin-top: 5px;">
      </div>
      
      <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10">
      <div class="scrollbar1 square scrollbar-rare-wind thin">
      	  <h5><span id="title-1-movie" th:text="${'Xem phim: ' + film.getName() }"></span></h5>
	      <span id="title-2-movie" th:text="${film.getName2()}" style="font-size: 18px;"></span><br>
	      <span class="content" >
	      <details>
			  <summary>Xem thêm</summary>
			  <p th:text="${film.getDescribe()}"></p>
			</details>
	      </span>
      </div>
	      
      </div>
    </div>
    <div class="container">
     <div class="row">
     	<!-- <video  width="100%" controls>
  		<source src="https://www.youtube.com/embed/omDPaS_HaBM" type="video/mp4">
  		Trình duyệt của bạn không hỗ trợ HTML5.
		</video>*/ -->
		
		<iframe style="margin-bot: 30px;" width="100%" height="415" th:src="${links.get(ep).getUrl()}" 
		frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
		allowfullscreen></iframe>
		<div class="col-md-12">
			<h5>Tập phim :</h5>
		</div>
		<div class="row col-md-12">
		<a th:class="${'btn btn-' + ((#strings.equals(ep, #strings.toString(i.index)))?'danger':'info')}" name="ep" th:href="${'/watch?id='+id+'&ep=' + i.index}" th:each="link,i: ${links}" th:text="${link.getNum()}"></a>
		</div>
		<div class="container">
			<div class="row">
				<div>
					<div class="fb-comments" th:attr="data-href=${film.getInfo()}" data-width="" data-numposts="10" ></div>
				</div>
			</div>
		</div>
     </div>
    </div>
    </div>
    <style>
			.img-actor {
				padding:5px;
				margin: 10px
				}
				.img-actor img{
				width:100%;
					
				}
				.img-actor h5{
				}
				body {
				background-color : grey;
					color : white;
				}
				iframe {
				color:white !important}
			</style>
			<div class="col-sm-4">
			<h3>Diễn viên</h3>
				<div class="container border border-dark" style="height: 570px;overflow: scroll; background-color: #222">
					<a th:href="${'/sort?actor='+ac.getId()}" class="row img-actor border border-dark" th:each="ac : ${actors}">
					<div class="col-md-6" ><img onerror="this.src='/images/thumb.jpg';" th:src="${'http://image.phimmoi.net/profile/'+#strings.substringAfter(#strings.substringAfter(ac.getId(),'-'),'-')}+'/medium.jpg'"/></div>
						<div class="col-md-6" ><h5 th:text="${ac.getName()}"></h5></div>
					</a>
				</div>
			</div>
  
</div>
</div>


</body>
</html>

</body>
